// Home Content

.home {

  img {
    width: 100%;
    .border("", 5px)
  }

  .intro {

    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }
  
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
    }

    .sky {
      @media @phone {
        display: none;
      }
    }

    .launch {
      @media @phone {
        display: none;
      }
    }

    .blast {
      @media @phone {
      width: 100%;
      }
    }
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 15px;
    display: flex;
    justify-content: center;

    @media @phone {
      .flex-center(column-reverse, "", "");
      padding: 15px;
    }

    .walk-text {
      width: 50%;

      @media @phone {
        width: 100%;
      }

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

      .btn {
        .main-btn(black, white, 5px);
        width:30%;
        text-align: center;

        @media @phone {
          width: 100%;
          padding: 5%;
        }
      }
    }

    .walk-img {
      width: 46%;
      margin-left: 4%;
      
      @media @phone {
        width: 100%;
        margin: 20px 15px 20px 0px;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }

  .form-subscription {
    margin: 40px 0px;
    .flex-center("", flex-start, "");
    border-radius: 10px;

    .background-img {
      width: 200px;
      height: 275px;
      box-shadow: 2px 2px 5px #888888;
      transform: rotate(-15deg);
    }

    .text {
      .flex-center(column, "", center);
      margin-left: 150px;
    }

    // .subscrption-form {
    //   margin-top: 30px;
    //   .flex-center("", center, "");
    
    // }

    // .submit-btn {
    //   .main-btn(black, white, 5px);
    //     width:30%;
    //     text-align: center;
    //     margin-left: 
    // }
  }

  footer {
    margin-bottom: 1.25%;
  }
}